<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
	</appSettings>
	<connectionStrings>
		<add name="SEZAC" connectionString="server=10.13.8.16;user id=admin;password=admin;database=sezac;pooling=false" providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.5"/>
		<customErrors mode="Off"/>
		<httpRuntime targetFramework="4.5"/>
		<globalization culture="ES-MX" uiCulture="ES-MX"/>
		<sessionState mode="InProc" timeout="20"/>
	</system.web>
</configuration>